[Desktop Entry]
Type=Application
Name=Opemux
Comment=Linux-native emulator frontend
Exec=opemux
Icon=io.github.guilhermefeitosa66.OpenEmux
Terminal=false
Categories=Game;Emulator;
StartupWMClass=io.github.guilhermefeitosa66.OpenEmux
